@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins';
}

.hv-center{
    @apply justify-center items-center
}

.transition-300{
    @apply transition duration-300
}

.title {
    @apply text-xl font-bold
}